/*
 * Base grid layout courtesy of https://github.com/aekaplan/grid.
 *
 * This file contains IPDB-specific changes and additions.
 */


/*
 * The Open Sans font (https://www.google.com/fonts)
 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSansBold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
 * Default font size
 */
html, body {
	font-size: 1rem;
}


/*
 * Responsive sticky footer (http://www.joshrcook.com/a-responsive-sticky-footer/)
 */
html, body {
	height: 100%;
}
.container {
	display: table;
	height: 100%;
	width: 100%;
}
footer {
	display: table-row;
	height: 1px;
}
header, footer {
	background-color: #000;
	color: #fff;
}


/*
 * Header
 */
header .title.loggedin {
	display: none;
}
header .title {
	font-size: 140%;
}
header .title a {
	color: inherit;
	text-decoration: none;
}
header div {
	padding: 0 0.5em;
}
@media (min-width: 40rem) {
	header .title.loggedin {
		display: block;
		float: left;
	}
}


/*
 * Footer
 */
footer {
	font-size: 85%;
	text-align: center;
}


/*
 * Debug window
 */

.debug {
	display: none;
}
@media (min-width: 40rem) {
	.debug {
		display: block;
		background-color: #eee;
		position: absolute;
		left: 2em;
		top: 2em;
		font-family: mono;
		font-size: 80%;
		padding: 0.5em;
		border: 1px solid #000;
		z-index: 2000;
	}
	.debug a, .debug a:hover, .debug a:link {
		color: #000;
		text-decoration: none;
	}
	.debug span {
		display: none;
		margin-top: 1em;
		font-family: monospace;
		white-space: pre;
	}
	.debug:hover span, .debug a:hover span {
		display: block;
	}
}


/*
 * Login screen
 */
.loginwrapper {
	display: table;
	height: 100%;
	margin: 25% auto;
}
.login {
	display: table-cell;
	vertical-align: middle;
}
.login table {
	border-collapse: separate;
	border: 1px solid #3a628a;
	border-radius: 0.3em;
	border-spacing: 0.3em;
	padding: 0.5em;
	margin: 1em 0;
}

.login td {
	padding: 0 0.3em;
}
.loginwrapper .error {
	text-align: center;
	color: #d00;
}


/*
 * Menu, inspired by http://responsivenavigation.net/examples/off-canvas-slide/index.html
 */

.menubutton {
	display: none;
}
nav {
	font-size: 80%;
	float: right;
	width: auto;
	margin: 0;
	color: #fff;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0.5em;
}
nav a:hover {
	background-color: #555;
}
nav li li a {
	background-color: #333;
}
nav li ul {
	position: absolute;
	display: none;
}
nav li:hover ul {
	display: block;
}
nav li:hover li {
	display: block;
}
@media (max-width: 64rem) {
	nav {
		font-size: 80%;
	}
}
@media (max-width: 46rem) {
	nav {
		font-size: 70%;
	}                   
}
@media (max-width: 40rem) {
	.menubutton {
		display: block;
		float: left;
		font-size: 1.5em;
	}
	.menubutton a {
		text-decoration: none;
		color: #fff;
	}
	nav {
		font-size: 100%;
		position: absolute;
		margin-left: -80%;
		width: 80%;
		z-index: 1;
		background-color: #000;
	}
	.container {
		transition: .1s margin ease;
	}
	nav li {
		display: block;
	}
	nav li ul {
		display: block;
		position: relative;
	}
	nav li li a {
		padding-left: 2em;
	}
	body.menuactive .container {
		margin-left: 80%;
	}
}


/*
 * Search form
 */
.searchform {
	display: block;
	float: right;
	margin: 0.1em;
}
.searchform input.search {
	color: #000;
	font-size: 90%;
}


/*
 * Tree
 */
.tree {
	display: none;
}
@media (min-width: 40rem) {
	.tree {
		display: block;
		float: left;
		font-size: 90%;
		width: 18em;
		background-color: #ebf2f9;
		margin: 0.5em 0;
		border-radius: 0.3em;
	}
	.tree ul {
		list-style-type: none;
		padding-left: 1em;
		margin: 0;
	}
	.tree li div {
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 16px;
	}
	.tree li.collapsed>div {
		background-image: url('../images/plus.png');
	}
	.tree li.collapsed ul {
		display: none;
	}
	.tree li.expanded>div {
		background-image: url('../images/minus.png');
	}
	.tree a {
		position: relative;
		text-decoration: none;
		color: inherit;
		z-index: 24;
		width: 0;
		height: 0;
		outline: 0;
	}
	.tree a:hover {
		z-index: 25;
	}
	.tree a span {
		display: none;
	}
	.tree a:hover span {
		display: block;
		position: absolute;
		padding: 0.2em;
		border: 1px solid;
		top: 2em;
		left: 4em;
		background-color: #ffc;
		white-space: nowrap;
	}
}


/*
 * Content
 */
.content {
	color: #3a628a;
	font-size: 90%;
}
.content p.message {
	color: #3a628a;
	font-size: 110%;
	padding: 0.5em;
}
.content p.error {
	color: #c00;
	background-color: #fef;
	font-size: 110%;
	padding: 0.5em;
	border: 1px solid #c00;
	border-radius: 0.3em;
	margin-top: 0.5em;
}
.tree[style*="display:none"] ~ .content, header + .content {
	width: 100%;
}
.content a {
	color: #623a8a;
}
.content .unused a {
	color: #628a3a;
}
.content table {
	border-collapse: separate;
	border: 1px solid #3a628a;
	border-radius: 0.3em;
	border-spacing: 0.3em;
	padding: 0.5em;
	margin: 1em 0;
}
.content td, .content th {
	padding: 0 0.5em;
}
.content a {
	color: #000;
}


/*
 * Table item hover
 */
td.extraitem a {
	text-decoration: none;
	position: relative;
}
td.extraitem a span {
	display: none;
	position: absolute;
	background-color: #efe;
	border: 1px solid #3a628a;
	border-radius: 0.3em;
	padding: 0.3em;
}
td.extraitem a:hover span {
	display: block;
}
