;
; IP Database configuration
;
; $Id$
;

; Database settings
[database]

; mysql example
provider = mysql
host = localhost
database = ipdb
username = ipuser
password = secret

; sqlite example
; provider = sqlite
; file = ipdb.db

prefix = ipdb_


; Session
[session]
expire = 10m


; Debugging mode
[debug]
debug = false


; Skin
[skin]
skin = default


; Additional fields, these are shown between 'address' and 'description'
; [extrafield_hostname]
; type = text

; [extrafield_customercode]
; type = url
; url = "http://customers.domain.com/?customer=%s"
