/* $Id$ */


body {
	font-family: verdana, 'lucida sans', helvetica, sans-serif;
	color: #220044;
	font-size: 10pt;
	background-color: #fff;
}


div#wrapper {
	margin: 4px auto;
}


div#header {
	border: 1px solid #a0a0a0;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;
}


div#menu {
	margin-bottom: 1em;
}


div#tree {
	border: 1px solid #a0a0a0;
	width: 200px;
	float: left;
}


div#tree ul {
	list-style-type: none;
	padding-left: 1em;
}
div#tree li div {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 16px;
}
div#tree li.collapsed>div {
	background-image: url('images/plus.png');
}
div#tree li.expanded>div {
	background-image: url('images/minus.png');
}
div#tree a {
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 24;
	width: 0;
	height: 0;
	outline: 0;
}
div#tree a:hover {
	z-index: 25;
}
div#tree a span {
	display: none;
}
div#tree a:hover span {
	display: block;
	position: absolute;
	padding: 0.2em;
	border: 1px solid;
	top: 2em;
	left: 4em;
	background-color: #ffc;
	white-space: nowrap;
}


div#content {
	float: left;
	padding: 1em;
	clear: right;
}


div#content table#children {
	border: 1px solid;
	border-collapse: collapse;
}
div#content table#children thead tr {
	border-bottom: 1px solid;
}
div#content table#children tbody tr.unused td,
div#content table#children tbody tr.unused a {
	color: #2a2;
}


div#login {
	width: 300px;
	margin-left: 50%;
}


div#login table {
	border-collapse: collapse;
	border: 1px solid #a0a0a0;
}
div#login th,
div#login td {
	padding: 0.2em 0.5em;
}
div#login th,
div#login td.error {
	border: 1px solid #a0a0a0;
}
div#login td.error {
	background-color: #ff4040;
	color: #fff;
}


div#footer {
	clear: both;
	background-color: #fcfcff;
	border: 1px solid #fafafc;
	font-size: 7pt;
	text-align: center;
	padding: 3px;
}
