/* $Id$ */


body {
	font-family: 'trebuchet ms', 'lucida sans', 'lucida sans unicode', verdana, tahoma, helvetica, sans-serif;
	color: #000;
	font-size: 9pt;
	background-color: #ddd;
}
html, body {
	height: 100%;
}


a, a:link, a:hover, a:active {
	color: #600060;
	text-decoration: none;
}
input, textarea, select {
	background: #fff;
	border: 1px solid #800080;
	padding: 0.2em 0.5em;
}
input[type=submit], input[type=button] {
	background-color: #800080;
	color: #fff;
}
input[type=text].search {
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	padding-left: 25px;
}


div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	clear: both;
	margin: 0px auto -3em;
	padding-bottom: 1em;
	background-color: #fff;
	width: 870px;
}


div#debugwrapper {
	background-color: #eee;
	position: absolute;
	left: 2em;
	top: 2em;
	font-family: mono;
	font-size: 80%;
	padding: 0.5em;
	border: 1px solid #000;
	z-index: 2000;
}
div#debugwrapper a, div#debugwrapper a:hover, div#debugwrapper a:link, div#debugwrapper a:active {
	color: #000;
	text-decoration: none;
}
div#debug {
	display: none;
	margin-top: 1em;
}
div#debugwrapper:hover div, div#debugwrapper a:hover div {
	display: block;
}


div#header {
	padding: 0.5em 1em;
	margin-bottom: 1em;
	background-color: #800080;
	color: #fff;
}


div#menu {
	float: right;
	text-align: right;
	margin-bottom: 1em;
	padding-top: 1em;
}
div#menu ul {
	list-style-type: none;
	padding: 0px;
	display: inline;
	line-height: 2em;
}
div#menu li {
	display: inline;
	float: left;
}
div#menu a {
	display: block;
	padding: 0px 0.4em;
}
div#menu ul ul {
	display: none;
	border: 1px solid #800080;
}
div#menu li li {
	float: none;
	white-space: nowrap !important;
	width: 100%;
}
div#menu li:hover a,
div#menu li a:hover {
	background-color: #fff;
	color: #800080;
}
div#menu li:hover ul,
div#menu li a:hover ul {
	display: block;
	background-color: #fff;
	position: absolute;
	z-index: 20;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
div#menu a, div#menu a:link, div#menu a:hover, div#menu a:active {
	color: #fff;
	text-decoration: none;
}
div#menu li:hover ul a:hover,
div#menu li a:hover ul a:hover {
	background-color: #800080;
	color: #fff;
}


div#tree {
	border: 1px solid #800080;
	width: 200px;
	font-size: 8pt;
	float: left;
	margin: 0px 1em;
}
div#tree ul {
	list-style-type: none;
	padding-left: 1em;
	margin-left: 0px;
}
div#tree li div {
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 16px;
}
div#tree li.collapsed>div {
	background-image: url('images/plus.png');
}
div#tree li.expanded>div {
	background-image: url('images/minus.png');
}
div#tree a {
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 24;
	width: 0;
	height: 0;
	outline: 0;
}
div#tree a:hover {
	z-index: 25;
}
div#tree a span {
	display: none;
}
div#tree a:hover span {
	display: block;
	position: absolute;
	padding: 0.2em;
	border: 1px solid;
	top: 2em;
	left: 4em;
	background-color: #ffc;
	white-space: nowrap;
}


div#content {
	padding: 0px 1em;
	clear: right;
	margin-left: 210px;
}
div#content .label {
	color: #800080;
}
div#content table {
	border: 1px solid #800080;
	margin: 1em 0px;
	border-collapse: collapse;
}
div#content table thead tr {
	border-bottom: 1px solid #800080;
	background-color: #800080;
	color: #fff;
}
div#content table th {
	font-weight: normal;
	padding: 0.2px 0.5em;
}
div#content table td {
	padding: 0.1px 0.5em;
}
div#content table tbody tr.unused td,
div#content table tbody tr.unused a {
	color: #2a2;
}
div#content p.error {
	border: 1px solid #800080;
	background-color: #de0245;
	color: #fff;
	padding: 0.2em 1em;
	font-weight: bold;
}
div#content td.extraitem a {
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 24;
	width: 0;
	height: 0;
	outline: 0;
}
div#content td.extraitem a:hover {
	z-index: 25;
}
div#content td.extraitem a span {
	display: none;
}
div#content td.extraitem a:hover span {
	display: block;
	position: absolute;
	padding: 0.2em;
	border: 1px solid;
	top: 0.2em;
	left: 1em;
	background-color: #ffc;
	white-space: nowrap;
}
div#content tr.even td {
	background-color: inherit;
}
div#content tr.odd td {
	background-color: #f8f8ff;
}



div#login {
	width: 300px;
	margin: 8em auto;
}


div#login table {
	border-collapse: collapse;
	border: 1px solid #800080;
}
div#login th,
div#login td {
	padding: 0.2em 0.5em;
}
div#login th {
	border: 1px solid #800080;
	background-color: #800080;
	color: #fff;
}
div#login td.error {
	border: 1px solid #800080;
	background-color: #de0245;
	color: #fff;
	text-align: center;
}


div#footer {
	clear: both;
	font-size: 75%;
	text-align: center;
	padding: 0.5em 0px;
	height: 2em;
	margin: 0px auto -2em;
	background-color: #fff;
	width: 870px;
}
