<table class="children">
	<thead>
		<tr>
			<th>address</th>
			<!-- BEGIN extrafieldheader -->
			<th>{extrafield}</th>
			<!-- END extrafieldheader -->
			<!-- BEGIN extratableheader -->
			<th>{extratable}</th>
			<!-- END extratableheader -->
			<th>description</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN child -->
		<tr{oddeven}>
			<td><a href="{link}">{label}</a></td>
			<!-- BEGIN extrafielddata --><td>{extrafield}</td><!-- END extrafielddata -->
			<!-- BEGIN extratabledata --><td>{extratable}</td><!-- END extratabledata -->
			<td>{description}</td>
		</tr>
		<!-- END child -->
	</tbody>
</table>
