<h2>{table}</h2>

<p>{navigation}</p>

<form method="post" action="" remote="remote">
    <p><input type="text" class="search" name="customtablesearch" value="{customtablesearch}" /></p>
	<!-- BEGIN noitems -->
	<p class="message">There are no items defined in table {table}.</p>
	<!-- END noitems -->
	<!-- BEGIN items -->
	<table>
		<thead>
			<tr><th>item</th><th>description</th><th></th><th></th></tr>
		</thead>
		<tbody>
			<!-- BEGIN itemrow -->
			<tr{oddeven}>
				<td><a>{item}{comments}</a></td>
				<td>{description}</td>
				<td><a class="button" href="?page=editcustomtableitem&amp;item={item}" remote="remote">change</a></td>
				<td><a class="button" href="?page=deletecustomtableitem&amp;item={item}" remote="remote">delete</a></td>
			</tr>
			<!-- END itemrow -->
		</tbody>
	</table>
	<!-- END items -->
	<p><a class="button" href="?page=addcustomtableitem" remote="remote">add</a> an item</p>
</form>

<p>{navigation}</p>
