<!DOCTYPE html>
<html>
	<head>
		<title>{title}</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link href="css/normalize.css" media="all" rel="stylesheet" type="text/css" />
		<link href="css/ipdb.css" media="all" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript">
			var timeout = {timeout};
		</script>
		<script type="text/javascript" src="js/ipdb.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="title"><a href="{me}">IP Database</a></div>
				<nav>
					<div class="menubutton"><a href="#" onclick="$('nav>ul').toggleClass('active');">&#9776;</a></div>
					{menu}
				</nav>
			</header>
			<main>
				<!-- BEGIN treediv -->
				<div id="tree" class="round">
					{tree}
				</div>
				<!-- END treediv -->
				<div id="content">
					{content}
				</div>
			</main>
			<footer>
				<a href="https://github.com/robinelfrink/ipdb">IP Database</a> version {version} &copy;2011-2014
			</footer>
		</div>
		<!-- BEGIN debugdiv -->
		<div id="debug">
		<a href="#">debug<span>{debug}</span></a>
		</div>
		<!-- END debugdiv -->
	</body>
</html>
