<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{title}</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<style type="text/css"> /* <![CDATA[ */
			@import "css/style.css";
		/* ]]> */</style>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{meta}
	</head>
	<body>
		<div id="wrapper">
			<!-- BEGIN debugdiv -->
			<div id="debugwrapper">
				<a href="#">debug<span id="debug">{debug}</span></a>
			</div>
			<!-- END debugdiv -->
			<div id="header">
				<div id="menu">
					{menu}
				</div>
				<div><h2>IP Database</h2></div>
			</div>
			<!-- BEGIN treediv -->
			<div id="tree">
				{tree}
			</div>
			<!-- END treediv -->
			<div id="content">
				{content}
			</div>
			<div id="break">&nbsp;</div>
		</div>
		<div id="footer">
			<a href="http://15augustus.nl/ip-database/">IP Database</a> {version} &copy;2011 Previder bv (http://www.previder.nl)
		</div>
		<div id="blanker">&nbsp;</div>
	</body>
</html>
