<!DOCTYPE html>
<html>
	<head>
		<title>{title}</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link href="css/normalize.css" media="all" rel="stylesheet" type="text/css" />
		<link href="css/grid.css" media="all" rel="stylesheet" type="text/css" />
		<link href="css/ipdb.css" media="all" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="js/ipdb.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- BEGIN debugdiv -->
			<div class="debug">
				<a href="#">debug<span>{debug}</span></a>
			</div>
			<!-- END debugdiv -->
			<header>
				<div class="title"><a href="{me}">IP Database</a></div>
			</header>
			<div class="loginwrapper">
				<div class="login">
					<form method="post" action="" remote="remote">
						<input type="hidden" name="action" value="login" />
						<table class="login">
							<thead>
								<tr><th colspan="2">Login</th></tr>
							</thead>
							<tbody>
								<!-- BEGIN errorheader -->
								<tr><td class="error" colspan="2">{error}</td></tr>
								<!-- END errorheader -->
								<tr><td colspan="2">&nbsp;</td></tr>
								<tr>
									<td class="label">Username:</td>
									<td><input id="username" size="20" type="text" name="username" value="{username}" /></td>
								</tr>
								<tr>
									<td class="label">Password:</td>
									<td><input size="20" type="password" name="password" /></td>
								</tr>
								<tr><td></td><td><input type="submit" value="login" /></td></tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
			<script type="text/javascript">
			<!--
				if (getElement('username')) {
					getElement('username').focus();
					getElement('username').select();
				}
			//-->
			</script>
			<footer>
				<a href="https://github.com/robinelfrink/ipdb">IP Database</a> version {version} &copy;2011-2014
			</footer>
		</div>
	</body>
</html>
