<div id="loginwrapper">
	<div id="login">
		<form method="post" action="" remote="remote">
			<input type="hidden" name="action" value="login" />
			<table class="login">
				<thead>
					<tr><th colspan="2">Login</th></tr>
				</thead>
				<tbody>
					<!-- BEGIN errorheader -->
					<tr><td class="error" colspan="2">{error}</td></tr>
					<!-- END errorheader -->
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr>
						<td class="label">Username:</td>
						<td><input id="username" size="20" type="text" name="username" value="{username}" /></td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td><input size="20" type="password" name="password" /></td>
					</tr>
					<tr><td></td><td><input type="submit" value="login" /></td></tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
