<h2>{label}</h2>
<h4>{description}</h4>
<table>
	<tbody>
		<tr><td class="label">address:</td><td>{address}</td></tr>
		<!-- BEGIN ipv4 -->
		<tr><td class="label">netmask:</td><td>{netmask}</td></tr>
		<tr><td class="label">broadcast:</td><td>{broadcast}</td></tr>
		<!-- END ipv4 -->
		<!-- BEGIN extrafield -->
		<tr><td class="label">{field}:</td><td>{value}</td></tr>
		<!-- END extrafield -->
		<!-- BEGIN extratable -->
		<tr><td class="label">{table}:</td><td>{item}</td></tr>
		<!-- END extratable -->
		<!-- BEGIN parent -->
		<tr><td class="label">parent:</td><td><a href="?page=main&amp;node={parentnode}">{parentnode}</a></td></tr>
		<!-- END parent -->
	</tbody>
</table>

{links}

<!-- BEGIN haschildren -->
<p>
	<a href="?page=main&amp;node={node}&amp;showunused={unusedyesno}" remote="remote">{unusedlabel}</a> |
	<a href="?action=printtree&amp;node={node}">{printtreelabel}</a>
</p>
<!-- END haschildren -->
