<h2>{label}</h2>
<h4>{nodename}</h4>
<p>{description}</p>
<table class="netinfo">
	<tbody>
		<tr><td class="label">address:</td><td>{address}</td></tr>
		<!-- BEGIN ipv4 -->
		<tr><td class="label">netmask:</td><td>{netmask}</td></tr>
		<tr><td class="label">broadcast:</td><td>{broadcast}</td></tr>
		<!-- END ipv4 -->
		<!-- BEGIN customfield -->
		<tr><td class="label">{field}:</td><td>{value}</td></tr>
		<!-- END customfield -->
		<!-- BEGIN customtable -->
		<tr><td class="label">{table}:</td><td>{item}</td></tr>
		<!-- END customtable -->
		<!-- BEGIN parent -->
		<tr><td class="label">parent:</td><td><a href="?page=main&amp;node={parentnode}">{parentnode}</a></td></tr>
		<!-- END parent -->
	</tbody>
</table>

<p>
	<!-- BEGIN editbuttons -->
	<a class="button" href="?page=addnode&amp;node={node}" remote="remote">add</a>
    <a class="button" href="?page=deletenode&amp;node={node}" remote="remote">delete</a>
	<a class="button" href="?page=editnode&amp;node={node}" remote="remote">change</a>
	<!-- END editbuttons -->
	<!-- BEGIN adminbuttons -->
	<a class="button" href="?page=nodeaccess&amp;node={node}" remote="remote">access</a>
	<!-- END adminbuttons -->
	<!-- BEGIN printtreebutton -->
	<a class="button" href="?action=printtree&amp;node={node}">print tree</a>
	<!-- END printtreebutton -->
</p>

<!-- BEGIN haschildren -->
<p>
	<input type="checkbox" id="toggleunused" onchange="toggleunused('{node}', '{unusedyesno}');" {showunusedchecked}>&nbsp;<label for="toggleunused">{unusedlabel}</label>
</p>
<!-- END haschildren -->
