<form method="post" action="" remote="remote">
	<table>
		<tbody>
			<tr>
				<td class="label">address:</td>
				<td><input type="text" name="address" value="{address}" /> / <input type="text" name="bits" size="4" value="{bits}" /></td>
			</tr>
			<tr>
				<td class="label">name:</td>
				<td><input type="text" name="name" value="{nodename}" /></td>
			</tr>
			<!-- BEGIN parent -->
			<tr>
				<td class="label">parent:</td>
				<td><a href="{parentlink}">{parentaddress}</a></td>
			</tr>
			<!-- END parent -->
			<!-- BEGIN extrafield -->
			<tr>
				<td class="label">{name}</td>
				<td><input type="text" name="field-{name}" value="{value}" /><input type="checkbox" name="field-{name}-recursive" id="field-{name}-recursive" /><label for="field-{name}-recursive">recursive</label></td>
			</tr>
			<!-- END extrafield -->
			<!-- BEGIN extratable -->
			<tr>
				<td class="label">{table}</td>
				<td><select name="table-{table}">{tableoptions}</select><input type="checkbox" name="table-{table}-recursive" id="table-{table}-recursive" /><label for="table-{table}-recursive">recursive</label></td>
			</tr>
			<!-- END extratable -->
			<tr>
				<td class="label">description:</td>
				<td><textarea name="description">{description}</textarea></td>
			</tr>
			<!-- BEGIN addnode -->
			<tr><td></td><td><input type="submit" value="add" />&nbsp;<input type="submit" name="cancel" value="cancel" /></td></tr>
		</tbody>
	</table>
	<input type="hidden" name="action" value="addnode" />
			<!-- END addnode -->
			<!-- BEGIN changenode -->
			<tr><td></td><td><input type="submit" value="change" />&nbsp;<input type="submit" name="cancel" value="cancel" /></td></tr>
		</tbody>
	</table>
	<input type="hidden" name="action" value="changenode" />
	<input type="hidden" name="node" value="{node}" />
			<!-- END changenode -->
</form>
