<h4>Access list for <a href="?page=main&amp;node={node}">{node}</a></h4>
<form method="post" action="" remote="remote">
	<table>
		<tr><th>username</th><th colspan="2">access</th></tr>
		<!-- BEGIN user -->
		<tr{oddeven}>
			<td><a href="{userlink}">{username}</a></td>
			<td><input type="radio" name="access_{username}" value="readonly"{readonly_checked}>read only</td>
			<td><input type="radio" name="access_{username}" value="write"{write_checked}>write</td>
		</tr>
		<!-- END user -->
	</table>
	<input type="submit" value="change" />&nbsp;<input type="submit" name="cancel" value="cancel" />
	<input type="hidden" name="node" value="{node}" />
	<input type="hidden" name="action" value="changenodeaccess" />
</form>

