<h2>Zone {zonename}</h2>

<form method="post" action="" remote="remote">
	<table>
		<tr>
			<td class="label">zone name:</td>
			<td><input type="text" name="zonename" value="{zonename}" /></td>
		</tr>
		<tr>
			<td class="label">description:</td>
			<td><input type="text" name="description" value="{description}" size="50" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="{buttontext}" /></td>
		</tr>
	</table>
	<input type="hidden" name="oldzone" value="{zonename}" />
	<input type="hidden" name="action" value="{action}" />
</form>

